*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin-left: -40px;
}

ol {
  list-style: none;
  margin-left: -40px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

fieldset {
  border: 0;
}

