.advantages__list {
    counter-reset: number 0;


    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.advantages__item {
    grid-column: span 3;
    background-color: #eeeeee;
    border-bottom: 1px solid #d6d6d6;

    &:last-child {
        border-bottom: none;
    }

    &--city {
        background-color: #fff;
        border-bottom: none;
    }

    &--bridge {
        border-bottom: none;
    }

    @include tablet {
        grid-column: span 1;

        &--city {
            grid-column: span 3;
        }

        &--bridge {
            grid-column: span 3;
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
    }
}

.advantages__content {
    @include tablet {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

.advantages__description {
    padding: 25px;

    height: 190px;
    counter-increment: number;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;

    &::before {
        content: "— №" counter(number) " —";
        position: absolute;
        margin-top: 40px;
        left: 50%;
        margin-left: -27px;

        @include tablet {
            margin-top: 65px;
        }
    }

    &--mod {
        background-color: #81b2d3;
        border-bottom: none;

        &::before {
            color: #fff;

            @include desktop {
                margin-top: 45px;
            }
        }
    }

    @include tablet {
        border: none;
        height: 256px;
        padding: 40px;

        &--mod {
            padding: 40px 20px;
        }
    }

    @include desktop {
        &--mod {
            padding: 50px 50px;
        }
    }
}

.advantages__title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

    &--mod {
        color: #fff;
    }

    @include tablet {
        font-size: 21px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

// .advantages__number {
//     display: flex;
//     justify-content: center;
//     font-size: 16px;
//     line-height: 26px;
//     color: #000;

//     &--mod {
//         color: #fff;
//     }
// }

.advantages__text {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    text-transform: uppercase;
    padding-top: 30px;

    &--mod {
        color: #fff;
    }

    @include tablet {
        padding-top: 40px;
    }
}

.advantages__picture--bridge {
    @include tablet {
        order: -1;
    }
}

.advantages__img {
    width: 100%;
    object-fit: cover;
}