.contacts {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    border-bottom: 2px solid #E5E5E5;

    @include tablet {
        border-bottom: 0;
        grid-column: span 2;
        margin-top: 30px;
    }

    @include desktop {
        margin-top: 70px;
    }
}

.contacts__list {
    @include desktop {
        width: 960px;
        display: flex;
        justify-content: space-between;
    }
}

.contacts__item {
    margin-bottom: 14px;

    @include tablet {
        margin-bottom: 25px;
    }

    @include desktop {
        display: flex;
    }
}

.contacts__legend {
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;

    @include tablet {
        width: 680px;
        font-size: 21px;
        margin-bottom: 22px;
        background-image: url(../img/line-tablet.png);
        background-repeat: no-repeat;
        background-position: 14px 15px;
    }

    @include desktop {
        width: 960px;
        background-image: url(../img/line-desktop.png);
        background-position: 0px;
    }
}

.contacts__label {
    color: #333333;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 22px;
    margin-bottom: 8px;

    @include desktop {
        margin-top: 15px;
        margin-right: 15px;
    }
}

.contacts__input {
    width: 222px;
    height: 58px;
    border: 0;
    background-color: #f2f2f2;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    padding-left: 22px;

    &:hover {
        background-color: #E5E5E5;
    }

    &:focus {
        background-color: #FFFFFF;
        border: 6px solid #E5E5E5;
        padding-left: 16.5px;
    }

    @include tablet {
        width: 590px;
    }

    @include desktop {
        width: 257px;
    }
}

.contacts__icon {
    padding: 18.5px;
    background-color: #e6e6e6;
    margin-left: -5px;
}