.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &>*:nth-child(3) {
      order: -1;
    }

    &>*:first-child {
      padding-left: 15%;
    }
  }
}

.form__group {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-inline-size: unset;

  @include tablet {
    grid-column: span 2;
    padding-bottom: 70px;

    &--short {
      grid-column: span 1;
    }
  }
}

.form__group-grid {
  display: grid;
  gap: 20px;

  @include desktop {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  &--attractions {
    @include tablet {
      grid-template-columns: 1fr 1fr;
      gap: 40px 45px;
      place-self: center;
    }

    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 0px 67px;
    }
  }
}

.form__group-title {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  &::before {
    content: "";
    width: 100vw;
    height: 1px;
    background-color: #E5E5E5;
    position: absolute;
    top: 0;
    left: -5vw;

    @include tablet {
      content: "";
      width: 100%;
      background-color: transparent;
      background-image: url("../img/line-desktop.png");
      background-repeat: no-repeat;
      background-position: center;
      top: 34px;
      left: 0;
    }
  }

  @include tablet {
    font-size: 21px;
    padding-bottom: 55px;

    .form__group--short &::before {
      content: "";
      background: none;
    }

    .form__group--short &::after {
      content: "";
      background: none;
    }
  }
}

.form__group--short {
  @include tablet {
    &:first-child {
      background-image: url("../img/side-line.png");
      background-repeat: no-repeat;
    }

    *:first-child {
      justify-content: start;
    }
  }

  @include desktop {
    *:first-child {
      justify-content: center;
    }
  }

}

.form__textarea {
  height: 160px;
  padding: 20px;
  background-color: #f2f2f2;
  resize: none;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  &:hover {
    background-color: #E5E5E5;
  }

  &:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
    padding: 16px;
  }
}

.form__submit {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #81b2d3;
  border: none;
  text-transform: uppercase;
  padding: 15px 33px;

  @include tablet {
    width: 324px;
  }

  @include desktop {
    width: 480px;
  }
}