.gallery-video {
    margin-bottom: 40px;


    @include tablet {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

.gallery-video__image {
    width: 100%;
    height: 201px;
    object-fit: cover;
    position: relative;

    @include tablet {
        height: 500px;
        margin-bottom: -48px;
    }
}

.gallery-video__panel {
    width: 90%;
    height: 111px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -51px;
    position: absolute;

    @include tablet {
        height: 93px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, .5);
        margin-bottom: 40px;
        position: absolute;
        width: 90%;
    }
}

.gallery-video__panel--range {
    background-color: rgba(0, 0, 0, .8);
    height: 45px;
    width: 100%;

    @include tablet {
        background-color: rgba(0, 0, 0, 0);
        margin-top: 25px;
        margin-left: 80px;
        width: 70%;
        color: #FFFFFF;
        position: absolute;
    }
}

.gallery-video__range {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 22px;

    @include tablet {
        width: 100%;
    }
}

.gallery-video__range::-webkit-slider-runnable-track {
    background-color: #707070;
    height: 3px;
}

.gallery-video__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    background-color: #FFFFFF;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

.gallery-video__buttons {
    background-color: #f2f2f2;
    height: 66px;
    display: grid;
    grid-template-columns: 2fr .5fr .5fr;

    @include tablet {
        background-color: rgba(0, 0, 0, 0);
        margin-top: 14px;
        grid-template-columns: 2fr .1fr .2fr;
    }
}

.gallery-video__button {
    border: 0;
    margin-top: 6px;
    transition: all 0.1s;
    background-color: #f2f2f2;
    color: #5C6870;

    &:hover {
        color: #333333;
    }

    &:active {
        opacity: 30%;
    }

    @include tablet {
        background-color: rgba(0, 0, 0, 0);
        color: white;

        &:hover {
            color: gray;
        }
    }
}

.gallery-video__button--replay {
    width: 16px;
    margin-left: 25px;

    @include tablet {
        margin-left: 35px;
        padding: 0;
    }
}