.introduce {
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
    border-bottom: 2px solid #E5E5E5;

    @include tablet {
        border: 0;
        padding-top: 36px;
    }
}

.introduce__legend {
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;

    @include tablet {
        font-size: 21px;
    }

    @include desktop {
        background-image: none;
    }
}

.introduce__label {
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    margin-left: 10px;
}

.introduce__input {
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    border: 0;
    background-color: #F2F2F2;
    padding-left: 22px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.introduce__input:hover {
    background-color: #E5E5E5;
}

.introduce__input:focus {
    background-color: #FFFFFF;
    border: 6px solid #E5E5E5;
    padding-left: 16.5px;
}

.introduce__input--name {
    width: 230px;
    height: 58px;

    @include tablet {
        width: 216px;
    }

    @include desktop {
        width: 350px;
    }
}

.introduce__input--surname {
    width: 192px;
    height: 58px;

    @include tablet {
        width: 178px;
    }

    @include desktop {
        width: 312px;
    }
}

.introduce__input--patronymic {
    width: 194px;
    height: 58px;

    @include tablet {
        width: 180px;
    }

    @include desktop{
        width: 314px;
    }
}