.modal {
    text-align: center;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    background-color: #ffffff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: all;

    &--success {
        max-width: 640px;
        width: 100%;
        height: 323px;
        padding-top: 38px;
        display: none;

        @include tablet {
            height: 350px;
            padding-top: 54px;
        }
    }

    &--failure {
        max-width: 400px;
        width: 100%;
        height: 280px;
        padding-top: 40px;
        display: none;

        @include tablet {
            height: 350px;
            padding: 52px 40px 0px 40px;
        }
    }

    &--shown {
        display: block;
    }
}

.modal__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;

    @include tablet {
        font-size: 30px;
        line-height: 40px;
    }
}

.modal__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px 38px 22px 38px;
    height: 130px;

    @include tablet {
        padding: 15px 98px 18px 98px;
        height: auto;
    }

    &--failure {
        padding: 10px 41px 20px 41px;
        height: auto;

        @include tablet {
            padding: 15px 10px 27px 10px;
        }
    }
}


.modal__button {
    background-color: $blue;
    color: #ffffff;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;

    &--success {
        width: 280px;
        height: 58px;
        margin-top: 20px;

        @include tablet {
            width: 458px;
            margin-top: 40px;
        }
    }

    &--failure {
        width: 180px;
        height: 58px;

        @include tablet {
            width: 272px;
        }
    }
}

.modal__p {
    background-color: #f2f2f2;
    width: 100%;
    height: 100px;

    @include tablet {
        height: 145px;
    }
}