.review {
    height: 190px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 24px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
        height: 200px;
        width: 435px;
        padding: 0;
        margin-top: 65px;
        border: 0;
    }

    @include desktop{
        margin-top: 115px;
    }
}

.review__title {
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    @include tablet {
        font-size: 30px;
    }
}

.review__text {
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;


    @include tablet {
        margin-top: 30px;
    }
}